*.class
/PrometheeV/out/*
/PrometheeV/.idea/*

/OrderedClustering/out/*
/OrderedClustering/.idea/*

/P2CLUST/out/*
/P2CLUST/.idea/*

/P3CLUST/out/*
/P3CLUST/.idea/*
orderedClustering/\.idea/

\.idea/
